    <h1>Logic Twitter</h1>
    <p>
      This is the home page for <a href="http://logicitc.com">Logic</a> Twitter
    </p>
    
    <%= link_to "Sign Up Now!", signup_path, :class => "signup_button round" %> 